<!-- Carousel that displays trending -->
<div id="trending_carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 test" src=" <%= `https://image.tmdb.org/t/p/w500/${trending[0].backdrop_path}` %> " alt="">
        <div class="carousel-caption d-none d-md-block">
            <h5><a class="text-white" href="/movies/info/<%= trending[0].id %> "> <%= trending[0].title %>  </a></h5>
          </div>
      </div>
      <% for(let i = 1; i < trending.length; i++){ %>   
        <div class="carousel-item">
          <img class="d-block w-100 test" src=" <%= `https://image.tmdb.org/t/p/w500/${trending[i].backdrop_path}` %> " alt="">
          <div class="carousel-caption d-none d-md-block">
              <h5><a class="text-white" href="/movies/info/<%= trending[i].id %> "> <%= trending[i].title %>  </a>  </a></h5>
            </div>
        </div>      
            <% } %>  
          </div>  
    <a class="carousel-control-prev" href="#trending_carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#trending_carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Now playing  -->
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Now Playing</h3>
            <div class="horizontal-scroll-wrapper squares">
              <% playing.forEach(movie =>{ %> 
                 <div>
                   <img class="popular-movie-img" src=" <%= `https://image.tmdb.org/t/p/w500/${movie.poster_path}` %> " alt="">
                   <p class="slide-text"><a href="/movies/info/<%= movie.id %> ">  more info...  </a></p>
                </div>
              <% }) %>    
            </div>
        </div>  
    </div>  
</div>

<!-- Upcomming -->
<div class="container">
  <div class="row">
      <div class="col">
          <h3>Upcomming</h3>
          <div class="horizontal-scroll-wrapper squares">
            <% upcomming.forEach(movie =>{ %> 
               <div>
                 <img class="popular-movie-img" src=" <%= `https://image.tmdb.org/t/p/w500/${movie.poster_path}` %> " alt="">
                 <p class="slide-text"><a href="/movies/info/<%= movie.id %> ">  more info...  </a></p>
              </div>
               
            <% }) %>    
          </div>
      </div>  
  </div>  
</div>