<div class="container-fluid">
    <div class="row ">
        <div  class="col info-container")>
          <!-- Takes img from api and sets to backgroud of div then styles it. -->
            <style>
                 .info-img-bg::before {    
                     content: "";
                     background-image: url('<%= `https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/${info.backdrop_path}` %>');
                     background-size:cover;
                     background-position: right -200px top;
                     position:absolute;
                     top: 0px;
                     right: 0px;
                     bottom: 0px;
                     left: 0px;
                     opacity: 0.4;
                     /* height: 200px; */
                    } 
            </style>
            <!-- info container -->
            <div class="d-flex info-img-bg">
                <img class="info-img position-relative" src="<%= `https://image.tmdb.org/t/p/w500/${info.poster_path}` %>" alt="">
                <div class="d-flex flex-column info-wrapper  ">
                  <h1 class="info-title"><%= info.title %> </h1>
                  <div class ="d-flex">
                      <p> <%= info.release_date %> 
                        <!-- checking if api movie has contry origin -->
                        <% if(info.production_companies.length >= 1) {%> 
                        (<%= info.production_companies[0].origin_country %>) </p>
                        <% } %> 
                          <% info.genres.forEach(genre=>{ %> 
                              <p class="info-genre">&middot;<%= genre.name %>  </p>
                          <% }) %> 
                  </div>
                  <div class="d-flex justify-content-start">
                      <h4>User score &middot;</h4>
                      <p class="user-average-raiting"> <%= info.vote_average %>/10</p>
                      <% if (currentUser) { %>
                        <!-- Favorite button if logged in -->
                      <form action="/favorites" method="POST">
                          <input hidden type="text" name="movieId" value="<%= info.id %> ">
                          <input type="hidden" name="movieTitle" value="<%= info.title %> ">
                          <input type="hidden" name="moviePoster" value="<%= info.poster_path %> ">
                          <button type="submit" class="favorite-btn"><i class="fas fa-heart fa-2x"></i></button>
                        </form>
    
                       <div class="d-flex flex-column favorite-wrapper">
                          <p>Add to</p>
                          <p>Favorites</p>
                        </div>
                        <!-- comment button -->
                     <form action="/reviews" method="GET">
                      <input hidden type="text" name="movieId" value="<%= info.id %> ">
                      <input type="hidden" name="movieTitle" value="<%= info.title %> ">
                      <input type="hidden" name="moviePoster" value="<%= info.poster_path %> ">
                       <button type="submit" class="review-btn"><i class="fas fa-comment fa-2x"></i></button>
                    </form>   
                    <div class="d-flex flex-column favorite-wrapper">
                        <p>Write a</p>
                        <p>Review</p>
                      </div>
                    <% } %> 
                 </div>
                  <div class="d-flex flex-column text-wrap" style="width: 20rem;">
                      <p><%= info.tagline %> </p>
                      <h4>Overview</h4>
                      <p class="overview-text"> <%= info.overview %>  </p>
                  </div>
               </div>
            </div>
          </div>
      </div>

        <!-- Cast -->
      <div class="container">
        <div class="row">
            <div class="col cast-container">
                <h3>Cast</h3>
                <div class="horizontal-scroll-wrapper squares">
                  <% info.credits.cast.forEach(movieStar =>{ %> 
                    <div class="card cast-wrapper" >
                        <img class="cast-img rounded" src=" <%= `https://image.tmdb.org/t/p/w500/${movieStar.profile_path}` %> " alt="">
                        <div class="card-body">
                            <p class="slide-text">  <%= movieStar.name %>   </p>
                        </div>
                      </div>
                     <div>                                             
                    </div>                    
                  <% }) %>    
                </div>
            </div>  
        </div>  
      </div>

        <!-- trailer -->
      <div class="row">
           <div class="col d-flex justify-content-center">
             <iframe width="640" height="410" src=" <%= `https://www.youtube.com/embed/${info.videos.results[0].key}` %> " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
      </div>
      <!-- Reviews -->
      <div class=" text-dark review-info bg-white">
        <h5>Reviews</h5>
        <% reviews.forEach(review =>{ %> 
        <div class="media-body">
          <h5 class="mt-0 ">By, <%= review.user.username %> </h5>
          <%= review.content %> 
        <hr>
        </div>
        <!-- checking if no revies and if logged in -->
      <% }) %> 
        <% if(reviews.length < 1 && !currentUser){  %> 
            <p>Why don't you sign up or login to leave a review</p>
            <p> <a href=""  data-toggle="modal" data-target="#modalRegisterForm">Sign Up</a></p>
            <p> <a href=""  data-toggle="modal" data-target="#modalLoginForm">Login</a> </p>
      <% } else if(reviews.length < 1){%> 
        <form action="/reviews" method="GET">
          <input hidden type="text" name="movieId" value="<%= info.id %> ">
          <input type="hidden" name="movieTitle" value="<%= info.title %> ">
          <input type="hidden" name="moviePoster" value="<%= info.poster_path %> ">
          <p>Leave a review</p>
           <button type="submit" class="review-btn"><i class="fas fa-comment text-dark fa-2x"></i></button>
        </form> 
      <% } %> 
         
      </div>
      
      
     
 </div>








